<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${doc.name}">Document name</title>
    <link rel="stylesheet" href="../../assets/css/main.css" th:href="@{/assets/css/main.css}">
</head>
<body>

    <div class="container">
        <header>
            <a th:href="@{/documents(dir=${doc.parentId})}"><img src="../../assets/images/arrow_back-24px.svg" th:src="@{/assets/images/arrow_back-24px.svg}"></a>
            <span th:text="${doc.name}">Document name</span>
            <div class="right-buttons">
                <a class="button" th:href="@{/download(doc=${doc.id})}">
                    <img class="btn-icon" src="../../assets/images/cloud_download-24px.svg" th:src="@{/assets/images/cloud_download-24px.svg}">
                    download
                </a>
            </div>
        </header>
        <table class="document-table">
            <tbody>
                <tr>
                    <th>Data di creazione:&nbsp;</th>
                    <td th:text="${#dates.format(doc.creationDate, 'dd-MM-yyyy HH:mm:ss')}">00-00-00 00:00:00</td>
                </tr>
                <tr>
                    <th>Tipo documento:&nbsp;</th>
                    <td th:text="${doc.type}">DOC</td>
                </tr>
                <tr>
                    <th>Summary:&nbsp;</th>
                    <td th:text="${doc.summary}"></td>
                </tr>
            </tbody>
        </table>
    </div>


</body>
</html>