<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Documenti</title>
    <link rel="stylesheet" href="../../assets/css/main.css" th:href="@{/assets/css/main.css}">
</head>
<body>

    <div class="container">
        <header>
            <a th:href="@{/}"><img src="../../assets/images/arrow_back-24px.svg" th:src="@{/assets/images/arrow_back-24px.svg}"></a>
            <span th:text="${dir.name}">Directory name</span>
        </header>
        <ul class="list">
            <li class="item" th:each="doc : ${documents}">
                <div class="item-content">
                    <img class="item-icon" src="../../assets/images/document-24px.svg" th:src="@{/assets/images/document-24px.svg}">
                    <span class="item-text" th:text="${doc.name}"></span>

                    <div class="right-buttons">
                        <a class="button" th:href="@{/(move-doc=${doc.id})}">
                            <!--<img class="btn-icon" src="../../assets/images/move-document-icon.svg" th:src="@{/assets/images/move-document-icon.svg}">-->sposta
                        </a>
                        <a class="button" th:href="@{/document(doc=${doc.id})}">accedi</a>
                    </div>
                </div>
            </li>
            <li class="item" th:if="${documents.isEmpty()}">
                <div class="item-content">
                    <span class="item-text">Cartella vuota</span>
                </div>
            </li>
        </ul>
    </div>



</body>
</html>