<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="shortcut icon" href="../../assets/images/favicon.ico" th:href="@{/assets/images/favicon.ico}" type="image/x-icon">
    <link rel="icon" href="../../assets/images/favicon.ico" th:href="@{/assets/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" href="../../assets/css/main.css" th:href="@{/assets/css/main.css}">
    <script src="../../assets/js/utils.js" th:src="@{/assets/js/utils.js}"></script>
    <script src="../../assets/js/login.js" th:src="@{/assets/js/login.js}"></script>
</head>
<body>
    <div class="container">
        <header class="small">
            <span>Accedi</span>
            <div class="right-buttons">
                <a class="button" href="./register.html" th:href="@{/register}">nuovo utente</a>
            </div>
        </header>
        <form id="login-form" action="/login" method="post">
            <div class="input-container">
                <label for="input-username">Nome utente:</label>
                <input id="input-username" type="text" name="username" th:maxlength="${maxUsernameLen}" required>
            </div>
            <div class="input-container">
                <label for="input-password">Password:</label>
                <input id="input-password" type="password" name="password" th:minlength="${minPasswordLen}" required>
            </div>
            <input type="submit" value="Accedi">
        </form>
    </div>
    <footer class="page-footer" th:text="'v. '+${version}">
        v. 1.0 - RIA
    </footer>

    <div class="modalbg hidden"></div>
</body>
</html>