<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrazione</title>

    <link rel="shortcut icon" href="../../assets/images/favicon.ico" th:href="@{/assets/images/favicon.ico}" type="image/x-icon">
    <link rel="icon" href="../../assets/images/favicon.ico" th:href="@{/assets/images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" href="../../assets/css/main.css" th:href="@{/assets/css/main.css}">
    <script src="../../assets/js/utils.js" th:src="@{/assets/js/utils.js}"></script>
    <script src="../../assets/js/main.js" th:src="@{/assets/js/main.js}"></script>
    <script src="../../assets/js/register.js" th:src="@{/assets/js/register.js}"></script>

</head>
<body>
    <div class="container">
        <header class="small">
            <a class="icon-button back-button" th:href="@{/}"><img src="../../assets/images/arrow_back-24px.svg" th:src="@{/assets/images/arrow_back-24px.svg}"></a>
            <span>Crea un nuovo utente</span>
        </header>
        <form id="register-form" action="/register" method="post">
            <div class="input-container">
                <label for="input-username">Nome utente:</label>
                <input id="input-username" type="text" name="username" th:maxlength="${maxUsernameLen}" required>
            </div>
            <div class="input-container">
                <label for="input-email">Email:</label>
                <input id="input-email" type="email" name="email" th:maxlength="${maxEmailLen}" required>
            </div>
            <div class="input-container">
                <label for="input-password">Password:</label>
                <input id="input-password" type="password" name="password" th:minlength="${minPasswordLen}" required>
            </div>
            <div class="input-container">
                <label for="input-password-confirm">Conferma password:</label>
                <input id="input-password-confirm" type="password" name="password-confirm" required>
            </div>
            <input type="submit" value="Crea utente">
        </form>
    </div>
    <footer class="page-footer" th:text="'v. '+${version}">
        v. 1.0 - RIA
    </footer>

    <div class="modalbg hidden"></div>
</body>
</html>