<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Carica un documento</title>
    <link rel="stylesheet" href="../../assets/css/main.css" th:href="@{/assets/css/main.css}">

</head>
<body>

    <div class="container">
        <header>
            <a th:href="@{/documents(dir=${parentId})}"><img src="../../assets/images/arrow_back-24px.svg" th:src="@{/assets/images/arrow_back-24px.svg}"></a>
            <span>Carica un documento</span>
        </header>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="hidden" name="parent" th:value="${parentId}">
            <label for="input-file-name">Nome documento:</label>
            <input id="input-file-name" type="text" name="name" required>
            <label for="input-file-summary">Sommario:</label>
            <textarea id="input-file-summary" name="summary"></textarea>
            <label id="input-file">Carica file:</label>
            <input type="file" name="document" required>
            <input type="submit" value="Carica documento">
        </form>
    </div>

</body>
</html>