@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
  box-sizing: border-box;
}

body{
  height: 100%;
  padding-left: 20%;
  padding-right: 20%;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

[draggable]{
  user-select: none;
}

@keyframes loader-animation {
  0%{
    transform: rotate(0);
  }
  50%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.loader{
  width: 24px;
  height: 24px;
  animation-name: loader-animation;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-duration: 1s;

  &.hidden{
    display: none;
  }
}

.container{
  width: 100%;
  overflow: hidden;

  & > header{
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    height: 56px;
    background-color: #3f85ff;
    color: white;
    font-size: 24px;

    & > a{
      width: 24px;
      height: 24px;
      margin-right: 16px;
    }
  }

  & > footer{
    display: flex;
    align-items: center;
    padding-left: 8px;
    width: 100%;
    height: 16px;
    background-color: #001150;
    color: white;
    font-size: 12px;
  }

}

.right-buttons{
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: auto;
}

.list{
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  color: white;
  overflow: hidden;
  will-change: height;

  &.hidden{
    height: 0;
  }

  .item{
    display: grid;
    grid-template-rows: 56px auto;
    align-items: center;
    width: 100%;
    height: min-content;
    min-height: 56px;

    &.hidden-item {
      display: none;
    }

    &.disabled{
      background-color: #bdcfff;

      & > .item-content > .item-text, & > .item-content > .item-text:visited {
        color: #7687ff;
        cursor: not-allowed;
      }
    }

    & > .item-content{
      display: flex;
      align-items: center;
      height: 100%;
      padding-left: 16px;
      padding-right: 16px;
      background-color: #4a6cc4;
      border-bottom: 1px solid #132357;
      transition: all .2s;

      &.red-border{
        border: 4px solid #c61d1d;
      }

      &.green-border{
        border: 4px solid #0fac0f;
      }

      &.second-level{
        padding-left: 48px;
        background-color: #2949a5;
      }

      &.third-level{
        padding-left: 96px;
        background-color: #143aa7;
      }

      &.red{
        background-color: #c61d1d;
      }

      & > .item-text{
        padding-left: 8px;
        padding-right: 16px;
        color: white;
        &:visited{
          color: white;
        }
      }

      & > .item-icon{
        width: 24px;
        height: 24px;
      }
    }

  }
}

@keyframes modalbg-fadein {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.modalbg{
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  animation-name: modalbg-fadein;
  animation-duration: .3s;
  animation-iteration-count: 1;
  animation-timing-function: ease;

  &.hidden{
    display: none;
  }
}

@keyframes modal-show-anim {
  0%{
    transform: translateY(-100%) translateX(-50%);
    opacity: 0;
  }
  100%{
    transform: translateY(0) translateX(-50%);
    opacity: 1;
  }
}

.modal{
  position: fixed;
  z-index: 1001;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-rows: 56px auto 56px;
  background-color: white;
  overflow: hidden;
  border-radius: 4px;
  min-width: 400px;
  max-width: 500px;
  min-height: 200px;
  text-align: center;
  animation-name: modal-show-anim;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-duration: .4s;

  &.hidden{
    display: none;
  }

  & > header{
    padding: 8px;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #3f85ff;

    &[data-color="blue"]{
      background-color: #3f85ff;
    }
    &[data-color="red"]{
      background-color: #c61d1d;
    }
    &[data-color="green"]{
      background-color: #0fac0f;
    }

    & > .title{
      color: white;
      font-size: 18px;
      padding-left: 4px;
    }
  }

  & > .content{
    grid-row: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    color: black;
    font-size: 16px;
    overflow: hidden;

    & > form{
      width: 100%;
      background-color: white;
      text-align: left;
      & > input{
        border: 1px solid #001150;
      }
      & > label{
        color: black;
      }
    }
  }

  & > footer{
    grid-row: 3;
    display: grid;
    grid-auto-flow: column;
    column-gap: 8px;
    justify-content: flex-end;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
  }

}

.icon{
  width: 24px;
  height: 24px;
  margin: 4px;
}

.okay-btn, .cancel-btn{
  width: 100px;
  height: 44px;
  background-color: white;
  font-size: 16px;
  color: black;
  transition: all .2s;
  border: 1px solid #c6c6c6;
  border-radius: 4px;
  text-transform: uppercase;
}

.okay-btn:hover{
  background-color: #3f85ff;
  color: white;
}

.cancel-btn{
  outline-color: red;
}

.cancel-btn:hover{
  background-color: #ff4f4f;
  color: white;
  outline-color: red;
}

.icon-button{
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 4px;
  cursor: pointer;
  width: 28px;
  height: 28px;
  outline: none;

  & > img{
    width: 24px;
    height: 24px;
  }
}

/*.sub-list{
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  overflow: hidden;
  will-change: height;

  &.hidden{
    height: 0;
  }

  & > .sub-item{
    display: grid;
    grid-template-rows: 56px auto;
    align-items: center;
    background-color: #2949a5;
    min-height: 56px;
    height: min-content;
    border-top: 1px solid #132357;

    &.disabled{
      background-color: #bdcfff;

      & > .sub-item-content > .item-text, & > .sub-item-content > .item-text:visited {
        color: #7687ff;
        cursor: not-allowed;
      }
    }

    & > .sub-item-content{
      display: flex;
      align-items: center;
      height: 100%;
      padding-left: 48px;

      &.second-level{
        padding-left: 96px;
        background-color: #143aa7;
      }

      & > .item-text{
        padding-left: 8px;
        padding-right: 16px;
        color: white;
        &:visited{
          color: white;
        }
      }
    }
  }
}*/

.document-table{
  width: 100%;
  overflow: hidden;
  border-collapse: collapse;
  border: solid 0;

  & > tbody > tr{
    width: 100%;
    height: 56px;
    background-color: #4a6cc4;
    color: white;
    border-collapse: collapse;
    border: solid 0;
    overflow: hidden;

    & > th{
      width: 1%;
      text-align: left;
      padding-left: 16px;
      white-space: nowrap;
      border-collapse: collapse;
      border: solid 0;
    }

    & > td{
      padding: 16px;
      border-collapse: collapse;
      border: solid 0;
      overflow: hidden;
      overflow-wrap: anywhere;
      hyphens: auto;
    }
  }
}

.button{
  display: inline-flex;
  align-items: center;
  height: 32px;
  text-transform: uppercase;
  border-radius: 4px;
  text-decoration: none;
  padding-left: 8px;
  padding-right: 8px;
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;

  & > a:visited{
    color: white;
  }

  .btn-icon{
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }

  &.outline-blue{
    border: 1px solid #001150;
    transition: background-color .2s;

    &:hover{
      background-color: #1132ac;
    }
  }
}

form{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #4a6cc4;
  padding: 8px;

  & > .form-error-message{
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 72px;
    background-color: #ff6363;
    border: 2px solid #c61d1d;
    border-radius: 4px;

    &.show{
      display: flex;
    }
  }


  & > .form-row{
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: row;
    align-items: center;

    & > input[type=submit]{
      margin-top: 0;
    }

    & > *{
      margin-left: 4px;
      margin-right: 4px;

      &:first-child{
        margin-left: 0;
      }

      &:last-child{
        margin-right: 0;
      }
    }
  }

  input[type=text] {
    width: 100%;
    height: 56px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 24px;
    border: 1px solid white;
    border-radius: 4px;
    padding: 8px;
  }

  input[type=password] {
    width: 100%;
    height: 56px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 24px;
    border: 1px solid white;
    border-radius: 4px;
    padding: 8px;
  }

  input[type=submit]{
    text-transform: uppercase;
    padding-left: 8px;
    padding-right: 8px;
    height: 56px;
    min-width: 100px;
    background-color: #3f85ff;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    outline: none;
    margin-left: auto;
    margin-top: 16px;
  }

  input[type=file]{
    margin-top: 8px;
    margin-bottom: 8px;
    color: white;
    font-size: 16px;
  }

  textarea{
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 24px;
    border: 1px solid white;
    border-radius: 4px;
    resize: vertical;
    min-height: 56px;
    padding: 8px;
  }

  label{
    font-size: 18px;
    color: white;
  }

}

.context-menu{
  display: none;
  position: absolute;
  overflow: hidden;
  width: 200px;
  height: min-content;
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid #000000;
  list-style-type: none;
  margin: 0;
  padding: 0;

  & > .context-menu-item{
    display: flex;
    align-items: center;
    width: 100%;
    height: 32px;
    padding-left: 8px;
    padding-right: 8px;
    user-select: none;

    &:hover{
      background-color: #cfdbff;
    }
  }
}


